/* 
 * @author              Juan Acosta <juan.93.ctm@gmail.com>
*/


body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
}
